<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Souljet</title>
    <link rel="icon" href="../Images/favicon.ico">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/MainPage.css" id="mainCss">
    <link rel="stylesheet" href="/comments.css">
    <link rel="stylesheet" href="#" title="theme">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Spline+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/38b1af0009.js" crossorigin="anonymous"></script>
    <!--font-family: 'Spline Sans', sans-serif;-->
</head>
<div class="header">
    <nav class="navbar navbar-expand-lg d-flex justify-content-center align-items-center">

        <div class="navbar-collapse d-flex justify-content-center ">
            <ul class="navbar-nav mx-auto" id="toggler">

                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Profile</a>
                </li>
                 <!--<li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/notes">Notes</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<nav class="navbar navbar-expand-lg d-flex justify-content-center align-items-center">
    <div class="navbar-brand quarter-circle">
        <div class="container"  onclick="BurgerAnim(this, toggler)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
</nav>


<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-6 col-12 pb-4">
                <h1>Comments</h1>
                <% for (let i = 0; i<commentsOfUsers.length; i++){ %>
                <div class="comment mt-4 text-justify float-left">
                    <i class="fa-solid fa-circle-user"></i>
                    <h4><%= commentsOfUsers[i].username %></h4>
                    <span> <%= commentsOfUsers[i].postingTime.toUTCString().slice(0, 25).replace('2022', ' ') %></span>
                    <br>
                    <% if (!adminIsAuthorized){%>
                    <p><%= commentsOfUsers[i].userComment %></p>
                    <% } else{ %>
                        <span><%= commentsOfUsers[i].userComment %> </span>
                        <span><a href="/comments/delete/<%= commentsOfUsers[i]._id %>" class="fas fa-trash-alt"></a></span>
                    <% } %>
                </div>
                <% } %>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                <% if (!adminIsAuthorized) { %>
                <form id="algin-form" action="/comments/<%= title %>/addComment", method="post">
                        <h4>Leave a comment</h4>
                        <input name="userComment" cols="30" rows="5" class="form-control" style="background-color: white;">
                        <input type="submit" id="post" class="btn" value="Post Comment">
                </form>
                <% } %>
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- link to the JQuery-->
<script src="../Javascript/MainPage.js" charcet="UTF-8"></script>
<script src="../Javascript/LightDarkThemeSwitcher.js" charcet="UTF-8"></script>
<!-- link to the JavaScript -->
</body>
</html>