<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Souljet</title>
    <link rel="icon" href="../Images/favicon.ico">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/MainPage.css" id="mainCss">
    <link rel="stylesheet" href="#" title="theme">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/38b1af0009.js" crossorigin="anonymous"></script>
    <!--font-family: 'Spline Sans', sans-serif;-->
</head>
<body>
    <style type="text/css">
		.popup-window{	
			display: none;
			box-shadow: 0px 0px 4px 0px rgb(70, 70, 70);
			-webkit-box-shadow: 0px 0px 4px 0px rgb(70, 70, 70);
			-moz-box-shadow: 0px 0px 4px 0px rgb(70, 70, 70);
			padding: 20px;
			background: white;
			z-index: 500;
			-webkit-border-radius: 5px!important;
			-moz-border-radius: 5px!important;
			border-radius: 5px!important;
		}
		.open{ 	
			text-decoration: underline;
			cursor: pointer;
		}
		.backpopup{		
			display:none;
			width: 100%;
			height: 100%;
			position: fixed;
			background: rgb(105, 105, 105);
			opacity: 0.7;
			top: 0;
			left: 0;
			z-index: 400;
			cursor: pointer;
		}
		.close{	
			float: right;
			cursor: pointer;
			right: 5px;
			top: 0px;
			position: absolute;
			padding: 4px;
		}
	</style>

    <style>
        table {
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }
        
        th {
            cursor: pointer;
        }
        
        th, td {
            text-align: left;
            padding: 16px;
        }
        
        .ManageUsers:nth-child(even) {
            background-color: #f2f2f2
        }
        </style>


<div class="header">
    <nav class="navbar navbar-expand-lg d-flex justify-content-center align-items-center">

        <div class="navbar-collapse d-flex justify-content-center ">
            <ul class="navbar-nav mx-auto" id="toggler">

                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notes">Notes</a>
                </li>
            </ul>

        </div>

    </nav>
</div>

<nav class="navbar navbar-expand-lg d-flex justify-content-center align-items-center">
    <div class="navbar-brand quarter-circle">
        <div class="container"  onclick="BurgerAnim(this, toggler)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
</nav>
<form action="/logoutAdmin" method="POST" style="margin-top: 1em; display: flex; justify-content: right;">
    <button><i class="fa-solid fa-right-from-bracket"></i></button>
</form>
    <a href="/addArticle" class="btn btn-light space">Add article</a>
<p class="open">Add new user</p>

<div class="backpopup"></div>

<h1 style="text-align: center; margin: 0em 0 1em 0;">Manage Users</h1>
<table id="myTable">
    <center>
    <!--<tr>
        <td><a href="/user/sortName" class="btn btn-light space">Sort by name</a></td>
        <td><a href="/user/sortEmail" class="btn btn-light space">Sort by email</a></td>
        <td><a href="/adding" class="btn btn-light space">Add new user</a></td>
    </tr>-->
    <tr>
        <th  onclick="sortTable(0)">Name</th>
        <th  onclick="sortTable(1)">Email</th>
        <th onclick="sortTable(2)">Time</th>
        <th onclick="sortTable(3)">Password</th>
        <th>Action</th>
    </tr>
    <% for(let i = 0; i < user.length; i++){ %>
    <tr class="ManageUsers">
        <td><%= user[i].username %></td>
        <td><%= user[i].email %></td>
        <td><%= user[i].regTime.toISOString().slice(0, 19).replace('T', ' ') %></td>
        <td><%= user[i].password %></td>
        <td colspan="3"><a href="/user/show/<%= user[i]._id %>" style="color:mediumseagreen; font-size: 1.3rem;">show</a></td>
        <td><a href="/user/notes/<%= user[i]._id %>" style="color: aquamarine; font-size: 1.3rem;">notes</a></td>
        <td><a href="/user/delete/<%= user[i]._id %>" style="color:orangered; font-size: 1.3rem;">delete</a></td>
    </tr>
    <% } %>
    </center>
</table>

<div class="popup-window">
    <form action="/user/add" method="POST">	
    <p class="close">x</p>	
    <table>
        <tr>
            <td>
                Username:
            </td>
            <td>
                <input name="username">
            </td>
        </tr>
        <tr>
            <td>
                E-mail:
            </td>
            <td>
                <input name="email">
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                <input name="password">
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button type="submit" value="Submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- link to the JQuery-->
<script src="../Javascript/MainPage.js" charcet="UTF-8"></script>
<script src="../Javascript/LightDarkThemeSwitcher.js" charcet="UTF-8"></script>
<!-- link to the JavaScript -->



<script type="text/javascript">
    $.fn.popup = function() { 	//функция для открытия всплывающего окна:
        this.css('position', 'absolute').fadeIn();	//задаем абсолютное позиционирование и эффект открытия
        //махинации с положением сверху:учитывается высота самого блока, экрана и позиции на странице:
        this.css('top', ($(window).height() - this.height()) / 2 + $(window).scrollTop() + 'px');
        //слева задается отступ, учитывается ширина самого блока и половина ширины экрана
        this.css('left', ($(window).width() - this.width()) / 2  + 'px');
        //открываем тень с эффектом:
        $('.backpopup').fadeIn();
    }
    $(document).ready(function(){	//при загрузке страницы:
        $('.open').click(function(){	//событие клик на нашу ссылку
            $('.popup-window').popup();	//запускаем функцию на наш блок с формой
        });
        $('.backpopup,.close').click(function(){ //событие клик на тень и крестик - закрываем окно и тень:
            $('.popup-window').fadeOut();
            $('.backpopup').fadeOut();
        });
    });
</script>

<script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("myTable");
      switching = true;
      dir = "asc";
      while (switching) {
        switching = false;
        rows = table.getElementsByTagName("TR");
        for (i = 1; i < (rows.length - 1); i++) {
          shouldSwitch = false;
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          switchcount ++;
        } else {
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
    </script>
</body>
</html>