<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Souljet</title>
    <link rel="icon" href="../Images/favicon.ico">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/MainPage.css" id="mainCss">
    <link rel="stylesheet" href="#" title="theme">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/38b1af0009.js" crossorigin="anonymous"></script>
    <!--font-family: 'Spline Sans', sans-serif;-->
</head>
<body>
<body>
<div class="header">
    <nav class="navbar navbar-expand-lg d-flex justify-content-center align-items-center">

        <div class="navbar-collapse d-flex justify-content-center ">
            <ul class="navbar-nav mx-auto" id="toggler">

                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notes">Notes</a>
                </li>
            </ul>

        </div>



    </nav>
</div>

<nav class="navbar navbar-expand-lg d-flex justify-content-center align-items-center">
    <div class="navbar-brand quarter-circle">
        <div class="container"  onclick="BurgerAnim(this, toggler)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
</nav>

<h1 style="text-align: center; margin: 2em 0 1em 0;">Manage Users</h1>
<table>
    <center>
        <tr>
            <td><a href="/user/sortName" class="btn btn-light space">Sort by name</a></td>
            <td><a href="/user/sortEmail" class="btn btn-light space">Sort by email</a></td>
            <td><a href="/adding" class="btn btn-light space">Add new user</a></td>
        </tr>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Time</th>
        <th>Password</th>
        <th>Action</th>
    </tr>
    <% for(let i = 0; i < user.length; i++){ %>
        <tr>
            <td><%= user[i].username %></td>
            <td><%= user[i].email %></td>
            <td><%= user[i].regTime %></td>
            <td><%= user[i].password %></td>
            <td colspan="2"><a href="/user/show<%= user[i].username %>" style="color:mediumseagreen; font-size: 1.3rem;">show</a></td>
            <td><a href="/user/delete<%= user[i].username %>" style="color:orangered; font-size: 1.3rem;">delete</a></td>
        </tr>
    <% } %>
    </center>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- link to the JQuery-->
<script src="../Javascript/MainPage.js" charcet="UTF-8"></script>
<script src="../Javascript/LightDarkThemeSwitcher.js" charcet="UTF-8"></script>
<!-- link to the JavaScript -->
</body>
</html>